{{define "title"}}Whipple Hill+ Register{{end}}

{{define "content"}}
	<form action="/register_user" method="post">
		<div>
			<label for="username">Username:</label>
			<br />
			<input type="text" id="username" name="username" value="{{.username}}" autocomplete="off" required>
		</div>
		<div>
			<label for="name">Name:</label>
			<br />
			<input type="text" id="name" name="name" value="{{.name}}" autocomplete="off" required>
		</div>
		<div>
			<label for="password_1">Password:</label>
			<br />
			<input type="password" id="password_1" name="password_1" value="{{.password_1}}" autocomplete="off" required>
		</div>
		<div>
			<label for="password_2">Confirm Password:</label>
			<br />
			<input type="password" id="password_2" name="password_2" value="{{.password_2}}" autocomplete="off" required>
		</div>

		{{if ne .error_message ""}}
			<p>{{.error_message}}</p>
		{{end}}

		<button type="submit">Register</button>
		<p>Already have an account? <a href="/login">Login</a></p>
	</form>
{{end}}